.highlight{
    text-align: center;
    color: darksalmon;
    font: 700;
    font-style: italic;
    font-size: 20px;

}

body{
    background-color: papayawhip;
}

.Paragraph{
    font-style: oblique;
    font-size: 15px;
}

img{
    border: 2px;
    border-radius: 20px;
    padding: 7px;
}

footer{
    font-style: italic;
    font-weight: bold;
}

